@import url('//fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.numVoltas {
  font-size: 188px;
  font-weight: bold;
  margin-bottom: 0px;
  border: 1px black solid;
}
.voltas {
  font-size: 55px;
  border: 1px black solid;
  font-weight: bold;
}
.button {
  font-size: 24px;
  margin: 10px, 10px;
}
